# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Outros
*.log
.DS_Store
